#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #2c3e50;
}

body {
    color: #495763;
    font-family: Heebo, sans-serif;
    font-weight: 400;
}

body, html {
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body, html, li, ul {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

body {
    display: block;
}